<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850490052990-q9uuc3f8p72fv8m9ae516kh53qp39mdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850490052990-q9uuc3f8p72fv8m9ae516kh53qp39mdl</string>
	<key>API_KEY</key>
	<string>AIzaSyDX8pcIZuhUoMpDnbwSbwyBEEtG99Vbhpc</string>
	<key>GCM_SENDER_ID</key>
	<string>850490052990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleLunch</string>
	<key>PROJECT_ID</key>
	<string>simple-lunch-dda25</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-lunch-dda25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850490052990:ios:170e1fdcc709b38f55232f</string>
</dict>
</plist>